{% load static %}
<html>
	<head>
  		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  		<link href="{% static 'app.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="{% url 'home' %}">Wavepool</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'instructions' %}">Instructions</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
		<div id="page_content" class="container">
			{% block page_content %}{% endblock %}
		</div>
	</body>
</html>