{% extends 'wavepool/base.html' %}
{% load static %}

{% block page_content %}
	<div class="row">
		<div class="col-md-4">
			<div id="coverstory" class="row" data-story-id="{{cover_story.pk}}">
				<div><a href="{% url 'article' %}">{{ cover_story.title }}</a></div>
				<div><img src="media/image/placeholder-img.jpg"  width="350" height="200" /></div>
				<div>{{ cover_story.teaser }} ...</div>
			</div>
		</div>
		<div id="topstories" class="col-md-8">
			<div class="row"><h2>Top Stories</h2></div>
			<div class="row">
				{% for newspost in top_stories %}
				<div class="topstory" data-story-id="{{newspost.pk}}" data-top-story-placement="{{forloop.counter}}"><a href="{% url 'article' %}">{{ newspost.title }}</a></div>
				<div>{{ newspost.teaser }} ...
					<hr />
				</div>

				{% endfor %}
			</div>
		</div>
	</div>
	<div id="frontpage-archive">
		<div class="row"><h2>Archive</h2></div>
		<div class="row">
			<div id="archive-stories">
				{% for newspost in archive %}
					<div class="archived-story" data-archive-story-id="{{newspost.pk}}">
						<div class="frontpage-archive_link"><a href="{% url 'article' %}">{{ newspost.title }}</a></div>
						<div>{{ newspost.teaser }} ...</div>
					</div>
					<hr />
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}