body {
	font-size: .9rem;
}
body a {
	color: #000;
	font-weight: bold;
}
body a:hover {
	color: #000;
}
h2 {
	font-size: .85rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #868484;
}
#page_content {
	margin-top: 2rem;
}
#coverstory a {
	font-size: 1.2rem;}
#topstories {
	padding-top: .5rem;
}
#topstories a {
	font-size: 1rem;
}
#archive a {
	font-size: 1rem;
}
#instructions {
	color: #000;
}
#instructions ol {
	padding: 0;
}
#instructions ol li.instructable {
	padding-bottom: 1.5rem;
}
#instructions ol h1 {
	font-size: 1.1rem;
}
#instructions ol h2 {
	font-size: 1rem;
	font-weight: normal;
	text-transform: none;
	color: #000;
}
#instructions ol h3{
	font-size: .9rem;
}